@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- about content -->
<div class="container" id="about">
        <h3>ABOUT</h3>
        <hr><p>
          Welcome to BOALMA-Camping, your one-stop-shop for all your camping equipment needs! We specialize in providing high-quality camping gear for outdoor enthusiasts of all levels. Our extensive collection includes everything from tents and sleeping bags to multitools and water bottles.<br><br>

          Explore our range of tents and accessories, including bivi bags and shelters that offer protection from the elements while keeping you comfortable and cozy. Our selection of sleeping bags and sleep mats will ensure you get a good night's sleep after a day of adventure. Keep your gear dry and organized with our stuff sacs and dry bags.<br><br>
        </p>
        <hr>
        <div class="row" style="margin-top: 50px;">
            <div class="col-md-5 py-3 py-md-0">
                <div class="card">
                    <img src="~/Images/main/about.jpg" alt="">
                </div>
            </div>
            <div class="col-md-7 py-3 py-md-0">
                <p>
                  At BOALMA-Camping, we believe that the right tools can make all the difference in your camping experience. That's why we offer a wide range of multitools, knives, stoves, and pots to help you cook and navigate the great outdoors. Stay hydrated with our selection of water bottles, flasks, and hydration packs.<br><br>
                  
                  Don't forget to pack your insect protection and first aid kit for a safe and enjoyable camping trip. And if you're looking for some inspiration or guidance, check out our selection of maps and books on camping and outdoor activities.<br><br>
                  
                  Shop with confidence knowing that we offer a secure online shopping experience, fast and reliable shipping, and excellent customer service. Whether you're planning a weekend camping trip or a multi-day backcountry adventure, BOALMA-Camping has everything you need to make it a success.</p>
                  <div class="btn">
                    <button onclick="location.href='@Url.Action("Index", "Home")'">Home</button>
                  </div>
            </div>
        </div>
    </div>


    <!-- shipping -->
    <div class="container" id="offer">
      <div class="row">
        <div class="col-md-3 py-3 py-md-0">
          <i class="fa-solid fa-cart-shopping"></i>
          <h3>Free Shipping</h3>
          <p>Within Ireland on orders over €150</p>
        </div>
        <div class="col-md-3 py-3 py-md-0">
          <i class="fa-solid fa-rotate-left"></i>
          <h3>Free Returns</h3>
          <p>Within 30 days</p>
        </div>
        <div class="col-md-3 py-3 py-md-0">
          <i class="fa-solid fa-truck"></i>
          <h3>Fast Delivery</h3>
          <p>Within the EU</p>
        </div>
        <div class="col-md-3 py-3 py-md-0">
          <i class="fa-solid fa-thumbs-up"></i>
          <h3>Huge Range</h3>
          <p>Many Brands</p>
        </div>
      </div>
    </div>
    <!-- shipping -->

    
<!-- register prompt -->
<div class="container" id="newsletter">
    <h3 class="text-center">Register with BOALMA Camping For Latest Offers.</h3>
    <div class="input text-center">
        <input type="text" placeholder="Enter Your Email..">
        <div class="btn">
            <button onclick="location.href='@Url.Action("Register", "Home")'">Register</button>
        </div>
    </div>
</div>
<!-- register prompt -->

<a href="#" class="arrow"><i><img src="~/Images/arrow.png" alt=""></i></a>

<style>
  html{
    scroll-behavior: smooth;
  }
  .arrow{
      position: fixed;
      width: 50px;
      height: 50px;
      bottom: 50px;
      right: 50px;
      text-decoration: none;
      text-align: right;
      line-height: 50px;
  }
</style>