<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BOALMA Camping</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
    <!-- bootstrap links -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <!-- bootstrap links -->
    <!-- fonts links -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap" rel="stylesheet">
    <!-- fonts links -->
</head>
<body>

    <!-- top navbar -->
    <div class="top-navbar">
        <p>WELCOME</p>
        <div class="icons">
            <a href="login.html"><img src="./images/register.png" alt="" width="18px">LOGIN</a>
            <a href="register.html"><img src="./images/register.png" alt="" width="18px">REGISTER</a>
        </div>
    </div>
    <!-- top navbar -->

    <!-- navbar -->
    <nav class="navbar navbar-expand-lg" id="navbar">
        <div class="container-fluid">
          <a class="navbar-brand" href="index.html" id="logo"><span id="span1">B</span>O<span id="span1">A</span>L<span id="span1">M</span>A <span>Camping</span></a>    <!-- ACL -->
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span><img src="./images/menu.png" alt="" width="30px"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="index.html">Home</a>
              </li>
              <!-- ACL
              <li class="nav-item">
                <a class="nav-link" href="#">Product</a>
              </li>
              ACL -->
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Category
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown" style="background-color: rgb(53, 137, 70);">
                  <li><a class="dropdown-item" href="./index.html#Tents">Tents</a></li>
                  <li><a class="dropdown-item" href="./index.html#Sleepingbags">Sleeping Bags</a></li>
                  <li><a class="dropdown-item" href="./index.html#Sleeping Mats">Sleepmats</a></li>
                  <li><a class="dropdown-item" href="./index.html#Bivi Bags">Bivi Bags &amp Shelters</a></li>
                  <li><a class="dropdown-item" href="./index.html#Dry Bags">Stuff Sacs &amp Dry Bags</a></li>
                  <li><a class="dropdown-item" href="./index.html#Multitools">Multitools &amp Knives</a></li>
                  <li><a class="dropdown-item" href="./index.html#Stoves & Pots">Stoves &amp Pots</a></li>
                  <li><a class="dropdown-item" href="./index.html#Headtorches">Headtorches</a></li>
                </ul>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="about.html">About</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="contact.html">Contact</a>
              </li>
            </ul>
            <form class="d-flex" id="search">
              <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
          </div>
        </div>
      </nav>
    <!-- navbar -->
    
 
    <div class="container" id="about">
        <h3>ABOUT</h3>
        <hr><p>
          Welcome to BOALMA-Camping, your one-stop-shop for all your camping equipment needs! We specialize in providing high-quality camping gear for outdoor enthusiasts of all levels. Our extensive collection includes everything from tents and sleeping bags to multitools and water bottles.<br><br>

          Explore our range of tents and accessories, including bivi bags and shelters that offer protection from the elements while keeping you comfortable and cozy. Our selection of sleeping bags and sleep mats will ensure you get a good night's sleep after a day of adventure. Keep your gear dry and organized with our stuff sacs and dry bags.<br><br>
        </p>
        <hr>
        <div class="row" style="margin-top: 50px;">
            <div class="col-md-5 py-3 py-md-0">
                <div class="card">
                    <img src="./images/main/about.jpg" alt="">
                </div>
            </div>
            <div class="col-md-7 py-3 py-md-0">
                <p>
                  At BOALMA-Camping, we believe that the right tools can make all the difference in your camping experience. That's why we offer a wide range of multitools, knives, stoves, and pots to help you cook and navigate the great outdoors. Stay hydrated with our selection of water bottles, flasks, and hydration packs.<br><br>
                  
                  Don't forget to pack your insect protection and first aid kit for a safe and enjoyable camping trip. And if you're looking for some inspiration or guidance, check out our selection of maps and books on camping and outdoor activities.<br><br>
                  
                  Shop with confidence knowing that we offer a secure online shopping experience, fast and reliable shipping, and excellent customer service. Whether you're planning a weekend camping trip or a multi-day backcountry adventure, BOALMA-Camping has everything you need to make it a success.</p>
                  <div class="btn">
                    <button onclick="location.href='index.html'">Home</button>
                  </div>
            </div>
        </div>
    </div>


    <!-- shipping -->
    <div class="container" id="offer">
      <div class="row">
        <div class="col-md-3 py-3 py-md-0">
          <i class="fa-solid fa-cart-shopping"></i>
          <h3>Free Shipping</h3>
          <p>Within Ireland on orders over €150</p>
        </div>
        <div class="col-md-3 py-3 py-md-0">
          <i class="fa-solid fa-rotate-left"></i>
          <h3>Free Returns</h3>
          <p>Within 30 days</p>
        </div>
        <div class="col-md-3 py-3 py-md-0">
          <i class="fa-solid fa-truck"></i>
          <h3>Fast Delivery</h3>
          <p>Within the EU</p>
        </div>
        <div class="col-md-3 py-3 py-md-0">
          <i class="fa-solid fa-thumbs-up"></i>
          <h3>Huge Range</h3>
          <p>Many Brands</p>
        </div>
      </div>
    </div>
    <!-- shipping -->

    
    <!-- register prompt -->
    <div class="container" id="newslater">
      <h3 class="text-center">Register with BOALMA Camping For Latest Offers.</h3>
      <div class="input text-center">
        <input type="text" placeholder="Enter Your Email..">
        <div class="btn"><button>Register</button></div>
      </div>
    </div>
    <!-- register prompt -->


    <!-- footer -->
    <footer id="footer">
      <div class="footer-top">
        <div class="container">
          <div class="row">

            <div class="col-lg-3 col-md-6 footer-contact">
              <h3>BOALMA Camping</h3>
              <p>
                Dublin <br>
                Cork <br>
                Galway <br><br>
              </p>
              <strong>Phone:</strong> +353 1 4689729 <br>
              <strong>Email:</strong> info@boalmacamping.ie <br>
            </div>

            <div class="col-lg-3 col-md-6 footer-links">
              <h4>Usefull Links</h4>
             <ul>
              <li><a href="index.html">Home</a></li>
              <li><a href="about.html">About Us</a></li>
              <li><a href="#">Services</a></li>
              <li><a href="#">Terms of service</a></li>
              <li><a href="#">Unsubscribe</a></li>
             </ul>
            </div>
           

            <div class="col-lg-3 col-md-6 footer-links">
              <h4>Help</h4>

             <ul>
              <li><a href="#offer">Shopping Guide</a></li>
              <li><a href="#">Product Care</a></li>
              <li><a href="#">Privacy Policy</a></li>
              <li><a href="#">Return Process</a></li>
              <li><a href="contact.html">Contact Us</a></li>
             </ul>
            </div>

            <div class="col-lg-3 col-md-6 footer-links">
              <h4>Our Social Networks</h4>
              <p>Follow us on....</p>

              <div class="socail-links mt-3">
                <a href="#"><i class="fa-brands fa-twitter"></i></a>
                <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
                <a href="#"><i class="fa-brands fa-instagram"></i></a>
                <a href="#"><i class="fa-brands fa-skype"></i></a>
                <a href="#"><i class="fa-brands fa-linkedin"></i></a>
              </div>
            
            </div>

          </div>
        </div>
      </div>
      <hr>
      <div class="container py-4">
        <div class="copyright">
          &copy; Copyright <strong><span>BOALMA Camping</span></strong>. All Rights Reserved
        </div>
        <div class="credits">
          Designed by <a href="#">Bo Al Ma</a>
        </div>
      </div>
    </footer>
    <!-- footer -->


    <a href="#" class="arrow"><i><img src="./images/arrow.png" alt=""></i></a>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

</body>
</html>